<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Saved locations</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <h1>IDK</h1>
    <div class="main container">
        <div class="list container">
            <div class="year selector"></div>
            <div class="listbox"></div>
        </div>

        <div>
            <div class="location info"></div>
            <div class="graph???"></div>
        </div>


    </div>



</body>